<tr>
    <td><?php echo $this->partialCounter;?></td>
    <td><?php echo $this->escape($this->name);?></td>
    <td class="button-row">
        <div class="btn-group">
            <a class="btn btn-default" href="<?php echo $this->url(array('controller'=>'category', 'action'=>'edit', 'id'=>$this->id));?>">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a class="btn btn-default" href="<?php echo $this->url(array('controller'=>'category', 'action'=>'delete', 'id'=>$this->id));?>" onclick="return confirm('are u shure?') ? true : false;">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
    </td>
</tr>
