<?php
// Создаём заголовок страницы, который загрузится в layout
$this->title = "Категории";
$this->headTitle($this->title);
?>
<p>
    <a class="btn btn-success" href="<?php echo $this->url(array('controller'=>'category','action'=>'add'));?>">
        <span class="glyphicon glyphicon-plus"></span> Добавить
    </a>
</p>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Название</th>
        <th class="button-row">&nbsp;</th>
    </tr>
    <?php
    // Создаём patrialLoop, передав массив фильмов, полученных от контроллера
    echo $this->partialLoop('category/_view.phtml', $this->categories);
    ?>
</table>
