<?php $task = Application_Model_DbTable_Task::load($this->id);?>
<tr>
    <td class="text-center">
        <span class="glyphicon glyphicon-move"></span>
        <input type="hidden" class="sort-id" value="<?php echo $this->id;?>"/>
    </td>
    <td><?php echo $this->escape($this->text);?></td>
    <td><?php echo $this->escape(Application_Model_DbTable_Category::getName($this->category_id));?></td>
    <td><?php echo $this->escape($task->getStatusName());?></td>
    <td class="button-row">
        <div class="btn-group">
            <a class="btn btn-default" href="<?php echo $this->url(array('controller'=>'Index', 'action'=>'edit', 'id'=>$this->id));?>">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a class="btn btn-default" href="<?php echo $this->url(array('controller'=>'Index', 'action'=>'delete', 'id'=>$this->id));?>" onclick="return confirm('are u shure?') ? true : false;">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
    </td>
</tr>
