<?php
/**
 * @var $this IndexController
 */
// Создаём заголовок страницы, который загрузится в layout
$this->title = "Tasks";
$this->headTitle($this->title);
?>
<p>
    <a class="btn btn-success" href="<?php echo $this->url(array('controller'=>'Index','action'=>'add'));?>">
        <span class="glyphicon glyphicon-plus"></span> Добавить
    </a>
</p>
<div>

</div>
<form action="" method="post" id="search-form">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Текст</th>
            <th>Категория</th>
            <th>Статус</th>
            <th class="button-row">&nbsp;</th>
        </tr>
        <tr>
            <th></th>
            <th><?php echo $this->formText("Task[text]", $this->filter->text);?></th>
            <th><?php echo $this->formSelect("Task[category_id]", $this->filter->category_id, null, Application_Model_DbTable_Category::getAssocList());?></th>
            <th><?php echo $this->formSelect("Task[status]", $this->filter->status, array('empty' => 'Select'), Application_Model_DbTable_Task::getAssocStatusList());?></th>
            <th class="button-row">&nbsp;</th>
        </tr>
        </thead>
        <tbody class="sortable">
            <?php echo $this->partialLoop('index/_view.phtml', $this->tasks);?>
        </tbody>
    </table>
</form>
<script>
    $(document).ready(function () {
        $('select').on('change',function(){
            $('#search-form').submit();
        });
        $("tbody.sortable").sortable({
            update:function(e,u){
                var order_array = new Array();
                $('.sort-id').each(function(i, val){
                    order_array.push($(val).val());
                });
                $.ajax({
                    url:'/Index/order',
                    type: "post",
                    data: {order:order_array},
                    success: function(data){
                        console.log(data);
                    }
                });
            }
        });
    });
</script>
