body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.jumbotron {
    background-color: transparent !important;
}

.navbar {
    margin-bottom: 20px;
}

.table .button-row{
    text-align: center;
    width: 150px;
    max-width: 150px;
}

.sort{
    cursor: pointer;
}