<?php
$this->headMeta()->appendHttpEquiv('X-UA-Compatible', 'IE=edge');
$this->headMeta()->appendName('charset', 'utf-8');
$this->headTitle()->setSeparator(' - ');
$this->headTitle('Great Things');
$this->headScript()->appendFile('https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js');
$this->headScript()->appendFile('https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js');
$this->headScript()->appendFile($this->baseUrl() . '/js/bootstrap.min.js');
echo $this->doctype();
?>
<html lang="en">
<head>
    <?php echo $this->headMeta(); ?>

    <?php echo $this->headTitle(); ?>
    <!-- Bootstrap -->
    <?php echo $this->headLink()->prependStylesheet($this->baseUrl() . '/css/bootstrap.min.css'); ?>
    <?php echo $this->headLink()->prependStylesheet($this->baseUrl() . '/css/style.css'); ?>

    <?php echo $this->headScript() ?>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="container">

    <!-- Static navbar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Great Things</a>
            </div>
            <div class="navbar-collapse collapse">
                <?php echo $this->navigation()->menu($this->menu)->setUlClass('nav navbar-nav');; ?>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </div>

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <?php echo $this->layout()->content;?>
    </div>

</div>
<!-- /container -->
</body>
</html>